* {
    margin: 0;
    font-family: Century serif;
    text-align: center;
}

header, footer {
    background-color: indigo;
    color: white;
    font-style: italic;
    padding: 2px;
    clear: both;
}

.main-one, .main-two, .main-three, .main-four {
    width: 50%;
    height: 470px;
}

img {
    padding: 3px;
    margin: 10px;
    border: 2px dotted slateblue;
}

a {
    color: white;
}

button {
    background-color: slateblue;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    margin: 10px 0 0 0;
}

button:hover {
    background-color: indigo;
}

input[type="range"]{
    width: 80%;
}

.main-one, .main-three {
    float: left;
}

.main-two, .main-four {
    float: right;
}