.img img {
    height: 100px;
    width: 100px;
    border: 2px solid darkblue;
    
}

.img2 img {
    height: 150px;
    width: 150px;
    border: 2px solid darkblue;
}

.img2 {
    text-align: center;
}

.text {
    text-align: center;
}

* {
    margin: 0px;
}

header {
    background-color: rgb(223, 175, 240);
    text-align: center;
}

.img{
    margin-left: 10px;
}