* {
    color: white;
    font-family: Georgia;
}
header {
    background-color: maroon;
    text-align: center;
    padding: 2px;
    width: 100%;
}
.l {
    background-color: lightsalmon;
    height: 527px;
    width: 15%;
    float: left;
}
main  {
    background-color: lightsalmon;
    height: 527px;
    width: 70%;
    float: left;
    text-align: center;
    margin: auto;
}
.r  {
    background-color: lightsalmon;
    height: 527px;
    width: 15%;
    float: right;
}
button {
    background-color: lightsalmon;
    color: maroon;
    font-size: 400%;
    margin: auto;
    padding-top: 210px;
    border: none;

}
.m {
    height: 70px;
    background-color: maroon;
}
footer {
    background-color: maroon;
    text-align: center;
    padding: 2px;
    width: 100%;
}
.n {
    float: right;
}
.o {
    padding-top: 40px;
}

