* {
    font-family: Georgia;
    color: white;
    margin: 0;
}

header, footer {
    background-color: maroon;
    text-align: center;
    padding: 2px;
}

.left, .center, .right {
    background-color: lightsalmon;
    height:  527px;
}

.left, .right {
    width: 15%;
}

.center {
    width: 70%;
}

.mini {
    background-color: maroon;
    height: 70px;
    clear: both;
}

.mini img {
    animation-duration: 4s;
    animation-name: a1;
}

@keyframes a1 {
    from {padding-left: 50px;}
    to {padding-left: 0px;}
}

button {
    background-color: lightsalmon;
    color: maroon;
    border: none;
    font-size: 400%;
    display: block;
    margin: auto;
    padding-top: 210px;
}

.mini img {
    height: 70px;
}

.center img {
    display: block;
    margin: auto;
    padding-top: 45px;
    width: 640px;
    height: 427px;
}

.center img:hover {
    animation-duration: 5s;
    animation-name: a2;
    scale: 120%;
}

@keyframes a2{
    from {scale: 100%;}
    to {scale: 120%;}
}

.left {
    float: left;
}

.center {
    float: left;
}

.right {
    float: right;
}